
software/pico-sdk/

www-docs/node_modules/

*.lock

build-story-editor-Desktop_Qt_6_4_1_GCC_64bit-Debug/

docs/resources/

docs/node_modules/

story-editor/CMakeLists.txt.user

hardware/kicad/ost-pico-addon/ost-pico-addon-backups/

hardware/kicad/ost-pico-addon/fp-info-cache

*.kra~

*.png~

build-story-editor-Desktop_Qt_6_5_1_GCC_64bit-Debug/

build-story-editor-Desktop_Qt_6_5_1_MinGW_64_bit-Debug/

build-story-editor-Desktop_Qt_6_5_1_MinGW_64_bit-Release/

build-story-editor-Desktop_Qt_6_5_1_MSVC2019_64bit-Debug/

release/

story-editor/windows-setup/Output/

build-story-editor-Desktop_Qt_6_5_1_GCC_64bit-Release/

build-story-player-Desktop_Qt_6_5_1_GCC_64bit-Debug/

build-story-player-Desktop_Qt_GCC_64bit-Debug/

*.user

software/build/

software/.vscode/.cortex-debug.registers.state.json

story-player/build/

story-editor/tools/build-audio-System_Qt5_15_8-Debug/

software/.vscode/.cortex-debug.peripherals.state.json
story-editor/build

build-story-editor-v2-System_Qt5_15_8-Debug/

story-editor-v2/src/CMakeSettings.json

story-editor-v2/imgui.ini

story-editor-v2/src/.vscode/

build-story-editor-v2-Desktop-Debug/

build-story-editor-Desktop-Debug/

docs/.vitepress/cache/

docs/.vitepress/dist/

software/.cache/

.DS_Store

story-editor/.idea/


build-story-editor-Desktop_Qt_GCC_64bit-Debug/

firmware/build/

story-player/stories/

story-player/storyvm/build/

story-player-sdl/build/

story-player-raylib/build/

story-player/linux/flutter/generated_plugin_registrant.cc

story-player/linux/flutter/generated_plugins.cmake

story-player-raylib/build-web

story-vm/build

story-player-raylib/bin/story-player.data
story-player-raylib/bin/story-player.js
story-player-raylib/bin/story-player.wasm

core/chip32/tests/build
story-editor/build-linux
story-editor/buildxcode/
story-editor/build-win32/
story-editor/cmake-build-debug/
story-editor/.flatpak-builder
story-editor/flatpak_build/
story-editor/AppDir/
