
software/pico-sdk/

www-docs/node_modules/

*.lock

build-story-editor-Desktop_Qt_6_4_1_GCC_64bit-Debug/

docs/resources/

docs/node_modules/

story-editor/CMakeLists.txt.user

hardware/kicad/ost-pico-addon/ost-pico-addon-backups/

hardware/kicad/ost-pico-addon/fp-info-cache

*.kra~

*.png~

build-story-editor-Desktop_Qt_6_5_1_GCC_64bit-Debug/

build-story-editor-Desktop_Qt_6_5_1_MinGW_64_bit-Debug/

build-story-editor-Desktop_Qt_6_5_1_MinGW_64_bit-Release/

build-story-editor-Desktop_Qt_6_5_1_MSVC2019_64bit-Debug/

release/

story-editor/windows-setup/Output/

build-story-editor-Desktop_Qt_6_5_1_GCC_64bit-Release/

build-story-player-Desktop_Qt_6_5_1_GCC_64bit-Debug/

build-story-player-Desktop_Qt_GCC_64bit-Debug/

*.user

software/build/

software/.vscode/.cortex-debug.registers.state.json
