
software/pico-sdk/

www-docs/node_modules/

*.lock

build-story-editor-Desktop_Qt_6_4_1_GCC_64bit-Debug/

docs/resources/

docs/node_modules/

story-editor/CMakeLists.txt.user

hardware/kicad/ost-pico-addon/ost-pico-addon-backups/

hardware/kicad/ost-pico-addon/fp-info-cache

*.kra~

*.png~

build-story-editor-Desktop_Qt_6_5_1_GCC_64bit-Debug/

build-story-editor-Desktop_Qt_6_5_1_MinGW_64_bit-Debug/

build-story-editor-Desktop_Qt_6_5_1_MinGW_64_bit-Release/

build-story-editor-Desktop_Qt_6_5_1_MSVC2019_64bit-Debug/

release/

story-editor/windows-setup/Output/

build-story-editor-Desktop_Qt_6_5_1_GCC_64bit-Release/

build-story-player-Desktop_Qt_6_5_1_GCC_64bit-Debug/

build-story-player-Desktop_Qt_GCC_64bit-Debug/

*.user

software/build/

software/.vscode/.cortex-debug.registers.state.json

story-player/build/

story-editor/tools/build-audio-System_Qt5_15_8-Debug/

software/.vscode/.cortex-debug.peripherals.state.json
story-editor/build

build-story-editor-v2-System_Qt5_15_8-Debug/

story-editor-v2/src/CMakeSettings.json

story-editor-v2/imgui.ini

story-editor-v2/src/.vscode/

build-story-editor-v2-Desktop-Debug/

build-story-editor-Desktop-Debug/

docs/.vitepress/cache/

docs/.vitepress/dist/

software/.cache/

.DS_Store

story-editor/.idea/

story-editor/buildxcode/

story-editor/cmake-build-debug/

story-editor/build-win32/

build-story-editor-Desktop_Qt_GCC_64bit-Debug/

firmware/build/

story-player/stories/

story-player/storyvm/build/

story-player-sdl/build/

story-player-raylib/build/

story-player/linux/flutter/generated_plugin_registrant.cc

story-player/linux/flutter/generated_plugins.cmake
story-player-raylib/build-web/cmake_install.cmake
story-player-raylib/build-web/CMakeCache.txt
story-player-raylib/build-web/compile_commands.json
story-player-raylib/build-web/CPackConfig.cmake
story-player-raylib/build-web/CPackSourceConfig.cmake
story-player-raylib/build-web/cpm-package-lock.cmake
story-player-raylib/build-web/Makefile
story-player-raylib/build-web/CMakeFiles/cmake.check_cache
story-player-raylib/build-web/CMakeFiles/CMakeConfigureLog.yaml
story-player-raylib/build-web/CMakeFiles/CMakeDirectoryInformation.cmake
story-player-raylib/build-web/CMakeFiles/CMakeRuleHashes.txt
story-player-raylib/build-web/CMakeFiles/Makefile.cmake
story-player-raylib/build-web/CMakeFiles/Makefile2
story-player-raylib/build-web/CMakeFiles/progress.marks
story-player-raylib/build-web/CMakeFiles/TargetDirectories.txt
story-player-raylib/build-web/CMakeFiles/3.30.3/CMakeCCompiler.cmake
story-player-raylib/build-web/CMakeFiles/3.30.3/CMakeCXXCompiler.cmake
story-player-raylib/build-web/CMakeFiles/3.30.3/CMakeSystem.cmake
story-player-raylib/build-web/CMakeFiles/pkgRedirects/raylib-config.cmake
story-player-raylib/build-web/CMakeFiles/pkgRedirects/raylib-version.cmake
story-player-raylib/build-web/CMakeFiles/story-player.dir/build.make
story-player-raylib/build-web/CMakeFiles/story-player.dir/cmake_clean.cmake
story-player-raylib/build-web/CMakeFiles/story-player.dir/compiler_depend.internal
story-player-raylib/build-web/CMakeFiles/story-player.dir/compiler_depend.make
story-player-raylib/build-web/CMakeFiles/story-player.dir/compiler_depend.ts
story-player-raylib/build-web/CMakeFiles/story-player.dir/depend.make
story-player-raylib/build-web/CMakeFiles/story-player.dir/DependInfo.cmake
story-player-raylib/build-web/CMakeFiles/story-player.dir/flags.make
story-player-raylib/build-web/CMakeFiles/story-player.dir/includes_C.rsp
story-player-raylib/build-web/CMakeFiles/story-player.dir/includes_CXX.rsp
story-player-raylib/build-web/CMakeFiles/story-player.dir/link.txt
story-player-raylib/build-web/CMakeFiles/story-player.dir/linkLibs.rsp
story-player-raylib/build-web/CMakeFiles/story-player.dir/main.c.o
story-player-raylib/build-web/CMakeFiles/story-player.dir/main.c.o.d
story-player-raylib/build-web/CMakeFiles/story-player.dir/objects1.rsp
story-player-raylib/build-web/CMakeFiles/story-player.dir/progress.make
story-player-raylib/build-web/CMakeFiles/story-player.dir/mnt/work/git/open-story-teller/firmware/chip32/chip32_assembler.cpp.o
story-player-raylib/build-web/CMakeFiles/story-player.dir/mnt/work/git/open-story-teller/firmware/chip32/chip32_assembler.cpp.o.d
story-player-raylib/build-web/CMakeFiles/story-player.dir/mnt/work/git/open-story-teller/firmware/chip32/chip32_vm.c.o
story-player-raylib/build-web/CMakeFiles/story-player.dir/mnt/work/git/open-story-teller/firmware/chip32/chip32_vm.c.o.d
story-player-raylib/build-web/_deps/raylib-build/cmake_install.cmake
story-player-raylib/build-web/_deps/raylib-build/cmake_uninstall.cmake
story-player-raylib/build-web/_deps/raylib-build/CTestTestfile.cmake
story-player-raylib/build-web/_deps/raylib-build/Makefile
story-player-raylib/build-web/_deps/raylib-build/CMakeFiles/CMakeDirectoryInformation.cmake
story-player-raylib/build-web/_deps/raylib-build/CMakeFiles/progress.marks
story-player-raylib/build-web/_deps/raylib-build/CMakeFiles/uninstall.dir/build.make
story-player-raylib/build-web/_deps/raylib-build/CMakeFiles/uninstall.dir/cmake_clean.cmake
story-player-raylib/build-web/_deps/raylib-build/CMakeFiles/uninstall.dir/compiler_depend.make
story-player-raylib/build-web/_deps/raylib-build/CMakeFiles/uninstall.dir/compiler_depend.ts
story-player-raylib/build-web/_deps/raylib-build/CMakeFiles/uninstall.dir/DependInfo.cmake
story-player-raylib/build-web/_deps/raylib-build/CMakeFiles/uninstall.dir/progress.make
story-player-raylib/build-web/_deps/raylib-build/raylib/cmake_install.cmake
story-player-raylib/build-web/_deps/raylib-build/raylib/CTestTestfile.cmake
story-player-raylib/build-web/_deps/raylib-build/raylib/libraylib.a
story-player-raylib/build-web/_deps/raylib-build/raylib/Makefile
story-player-raylib/build-web/_deps/raylib-build/raylib/raylib-config-version.cmake
story-player-raylib/build-web/_deps/raylib-build/raylib/raylib.pc
story-player-raylib/build-web/_deps/raylib-build/raylib/CMakeFiles/CMakeDirectoryInformation.cmake
story-player-raylib/build-web/_deps/raylib-build/raylib/CMakeFiles/progress.marks
story-player-raylib/build-web/_deps/raylib-build/raylib/CMakeFiles/raylib.dir/build.make
story-player-raylib/build-web/_deps/raylib-build/raylib/CMakeFiles/raylib.dir/cmake_clean_target.cmake
story-player-raylib/build-web/_deps/raylib-build/raylib/CMakeFiles/raylib.dir/cmake_clean.cmake
story-player-raylib/build-web/_deps/raylib-build/raylib/CMakeFiles/raylib.dir/compiler_depend.internal
story-player-raylib/build-web/_deps/raylib-build/raylib/CMakeFiles/raylib.dir/compiler_depend.make
story-player-raylib/build-web/_deps/raylib-build/raylib/CMakeFiles/raylib.dir/compiler_depend.ts
story-player-raylib/build-web/_deps/raylib-build/raylib/CMakeFiles/raylib.dir/depend.make
story-player-raylib/build-web/_deps/raylib-build/raylib/CMakeFiles/raylib.dir/DependInfo.cmake
story-player-raylib/build-web/_deps/raylib-build/raylib/CMakeFiles/raylib.dir/flags.make
story-player-raylib/build-web/_deps/raylib-build/raylib/CMakeFiles/raylib.dir/includes_C.rsp
story-player-raylib/build-web/_deps/raylib-build/raylib/CMakeFiles/raylib.dir/link.txt
story-player-raylib/build-web/_deps/raylib-build/raylib/CMakeFiles/raylib.dir/progress.make
story-player-raylib/build-web/_deps/raylib-build/raylib/CMakeFiles/raylib.dir/raudio.c.o
story-player-raylib/build-web/_deps/raylib-build/raylib/CMakeFiles/raylib.dir/raudio.c.o.d
story-player-raylib/build-web/_deps/raylib-build/raylib/CMakeFiles/raylib.dir/rcore.c.o
story-player-raylib/build-web/_deps/raylib-build/raylib/CMakeFiles/raylib.dir/rcore.c.o.d
story-player-raylib/build-web/_deps/raylib-build/raylib/CMakeFiles/raylib.dir/rmodels.c.o
story-player-raylib/build-web/_deps/raylib-build/raylib/CMakeFiles/raylib.dir/rmodels.c.o.d
story-player-raylib/build-web/_deps/raylib-build/raylib/CMakeFiles/raylib.dir/rshapes.c.o
story-player-raylib/build-web/_deps/raylib-build/raylib/CMakeFiles/raylib.dir/rshapes.c.o.d
story-player-raylib/build-web/_deps/raylib-build/raylib/CMakeFiles/raylib.dir/rtext.c.o
story-player-raylib/build-web/_deps/raylib-build/raylib/CMakeFiles/raylib.dir/rtext.c.o.d
story-player-raylib/build-web/_deps/raylib-build/raylib/CMakeFiles/raylib.dir/rtextures.c.o
story-player-raylib/build-web/_deps/raylib-build/raylib/CMakeFiles/raylib.dir/rtextures.c.o.d
story-player-raylib/build-web/_deps/raylib-build/raylib/CMakeFiles/raylib.dir/utils.c.o
story-player-raylib/build-web/_deps/raylib-build/raylib/CMakeFiles/raylib.dir/utils.c.o.d
story-player-raylib/build-web/_deps/raylib-build/raylib/include/raylib.h
story-player-raylib/build-web/_deps/raylib-build/raylib/include/raymath.h
story-player-raylib/build-web/_deps/raylib-build/raylib/include/rlgl.h
story-player-raylib/build-web/_deps/raylib-subbuild/cmake_install.cmake
story-player-raylib/build-web/_deps/raylib-subbuild/CMakeCache.txt
story-player-raylib/build-web/_deps/raylib-subbuild/CMakeLists.txt
story-player-raylib/build-web/_deps/raylib-subbuild/Makefile
story-player-raylib/build-web/_deps/raylib-subbuild/CMakeFiles/cmake.check_cache
story-player-raylib/build-web/_deps/raylib-subbuild/CMakeFiles/CMakeConfigureLog.yaml
story-player-raylib/build-web/_deps/raylib-subbuild/CMakeFiles/CMakeDirectoryInformation.cmake
story-player-raylib/build-web/_deps/raylib-subbuild/CMakeFiles/CMakeRuleHashes.txt
story-player-raylib/build-web/_deps/raylib-subbuild/CMakeFiles/Makefile.cmake
story-player-raylib/build-web/_deps/raylib-subbuild/CMakeFiles/Makefile2
story-player-raylib/build-web/_deps/raylib-subbuild/CMakeFiles/progress.marks
story-player-raylib/build-web/_deps/raylib-subbuild/CMakeFiles/raylib-populate-complete
story-player-raylib/build-web/_deps/raylib-subbuild/CMakeFiles/TargetDirectories.txt
story-player-raylib/build-web/_deps/raylib-subbuild/CMakeFiles/3.30.3/CMakeSystem.cmake
story-player-raylib/build-web/_deps/raylib-subbuild/CMakeFiles/raylib-populate.dir/build.make
story-player-raylib/build-web/_deps/raylib-subbuild/CMakeFiles/raylib-populate.dir/cmake_clean.cmake
story-player-raylib/build-web/_deps/raylib-subbuild/CMakeFiles/raylib-populate.dir/compiler_depend.make
story-player-raylib/build-web/_deps/raylib-subbuild/CMakeFiles/raylib-populate.dir/compiler_depend.ts
story-player-raylib/build-web/_deps/raylib-subbuild/CMakeFiles/raylib-populate.dir/DependInfo.cmake
story-player-raylib/build-web/_deps/raylib-subbuild/CMakeFiles/raylib-populate.dir/Labels.json
story-player-raylib/build-web/_deps/raylib-subbuild/CMakeFiles/raylib-populate.dir/Labels.txt
story-player-raylib/build-web/_deps/raylib-subbuild/CMakeFiles/raylib-populate.dir/progress.make
story-player-raylib/build-web/_deps/raylib-subbuild/raylib-populate-prefix/src/5.5.tar.gz
story-player-raylib/build-web/_deps/raylib-subbuild/raylib-populate-prefix/src/raylib-populate-stamp/download-raylib-populate.cmake
story-player-raylib/build-web/_deps/raylib-subbuild/raylib-populate-prefix/src/raylib-populate-stamp/extract-raylib-populate.cmake
story-player-raylib/build-web/_deps/raylib-subbuild/raylib-populate-prefix/src/raylib-populate-stamp/raylib-populate-build
story-player-raylib/build-web/_deps/raylib-subbuild/raylib-populate-prefix/src/raylib-populate-stamp/raylib-populate-configure
story-player-raylib/build-web/_deps/raylib-subbuild/raylib-populate-prefix/src/raylib-populate-stamp/raylib-populate-done
story-player-raylib/build-web/_deps/raylib-subbuild/raylib-populate-prefix/src/raylib-populate-stamp/raylib-populate-download
story-player-raylib/build-web/_deps/raylib-subbuild/raylib-populate-prefix/src/raylib-populate-stamp/raylib-populate-install
story-player-raylib/build-web/_deps/raylib-subbuild/raylib-populate-prefix/src/raylib-populate-stamp/raylib-populate-mkdir
story-player-raylib/build-web/_deps/raylib-subbuild/raylib-populate-prefix/src/raylib-populate-stamp/raylib-populate-patch
story-player-raylib/build-web/_deps/raylib-subbuild/raylib-populate-prefix/src/raylib-populate-stamp/raylib-populate-patch-info.txt
story-player-raylib/build-web/_deps/raylib-subbuild/raylib-populate-prefix/src/raylib-populate-stamp/raylib-populate-test
story-player-raylib/build-web/_deps/raylib-subbuild/raylib-populate-prefix/src/raylib-populate-stamp/raylib-populate-update
story-player-raylib/build-web/_deps/raylib-subbuild/raylib-populate-prefix/src/raylib-populate-stamp/raylib-populate-update-info.txt
story-player-raylib/build-web/_deps/raylib-subbuild/raylib-populate-prefix/src/raylib-populate-stamp/raylib-populate-urlinfo.txt
story-player-raylib/build-web/_deps/raylib-subbuild/raylib-populate-prefix/src/raylib-populate-stamp/verify-raylib-populate.cmake
story-player-raylib/build-web/_deps/raylib-subbuild/raylib-populate-prefix/tmp/raylib-populate-cfgcmd.txt
story-player-raylib/build-web/_deps/raylib-subbuild/raylib-populate-prefix/tmp/raylib-populate-mkdirs.cmake
story-vm/build/cmake_install.cmake
story-vm/build/CMakeCache.txt
story-vm/build/libstoryvm.a
story-vm/build/Makefile
story-vm/build/CMakeFiles/cmake.check_cache
story-vm/build/CMakeFiles/CMakeConfigureLog.yaml
story-vm/build/CMakeFiles/CMakeDirectoryInformation.cmake
story-vm/build/CMakeFiles/Makefile.cmake
story-vm/build/CMakeFiles/Makefile2
story-vm/build/CMakeFiles/progress.marks
story-vm/build/CMakeFiles/TargetDirectories.txt
story-vm/build/CMakeFiles/3.30.3/CMakeCCompiler.cmake
story-vm/build/CMakeFiles/3.30.3/CMakeCXXCompiler.cmake
story-vm/build/CMakeFiles/3.30.3/CMakeSystem.cmake
story-vm/build/CMakeFiles/storyvm.dir/build.make
story-vm/build/CMakeFiles/storyvm.dir/cmake_clean_target.cmake
story-vm/build/CMakeFiles/storyvm.dir/cmake_clean.cmake
story-vm/build/CMakeFiles/storyvm.dir/compiler_depend.internal
story-vm/build/CMakeFiles/storyvm.dir/compiler_depend.make
story-vm/build/CMakeFiles/storyvm.dir/compiler_depend.ts
story-vm/build/CMakeFiles/storyvm.dir/depend.make
story-vm/build/CMakeFiles/storyvm.dir/DependInfo.cmake
story-vm/build/CMakeFiles/storyvm.dir/flags.make
story-vm/build/CMakeFiles/storyvm.dir/includes_C.rsp
story-vm/build/CMakeFiles/storyvm.dir/includes_CXX.rsp
story-vm/build/CMakeFiles/storyvm.dir/link.txt
story-vm/build/CMakeFiles/storyvm.dir/objects1.rsp
story-vm/build/CMakeFiles/storyvm.dir/progress.make
story-vm/build/CMakeFiles/storyvm.dir/storyvm.cpp.o
story-vm/build/CMakeFiles/storyvm.dir/storyvm.cpp.o.d
story-vm/build/CMakeFiles/storyvm.dir/mnt/work/git/open-story-teller/firmware/chip32/chip32_vm.c.o
story-vm/build/CMakeFiles/storyvm.dir/mnt/work/git/open-story-teller/firmware/chip32/chip32_vm.c.o.d
story-player-raylib/bin/story-player.data
story-player-raylib/bin/story-player.js
story-player-raylib/bin/story-player.wasm
